{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Videos</h1>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_video' %}">Add new video</a>
  </p>

  <ul>
  {% for video in videos %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ video.name }}
        <small>{{ video.date_added|date:'M d, Y' }}</small>
        <small><a href="{% url 'learning_logs:edit_video_info' video.id %}">edit</a></small>
        <small><a href="{% url 'learning_logs:delete_video' video.id %}">delete</a></small>
      </h4>
      <div class="card-body">
        {{ video.introduction|linebreaks }}
      </div>
      <div class="card-body">
        <video width="320" height="240" controls>
            <source src="{{MEDIA_URL}}{{video.url}}" type="video/mp4">
        </video>
      </div>
    </div>
  {% empty %}
    <p>There are no video submitted yet.</p>
  {% endfor %}

{% endblock content %}